h1,h2,h3,h4,h5,h6,p{
  margin: 0px;
  padding: 0px;
}


 .container-staff2{

 }
 .list li{
  display: inline-block;
  text-decoration: none;
  padding:10px 30px 10px 30px;
  border: solid #257dea 1px;
 }

.container-staff3,
.contenedorStaff {
  position: relative;
  height: 100%;
}

.contenedorStaff {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
